@inherits LayoutComponentBase
@inject AuthService authService
@inject ThemeService themeService
@inject NavigationManager Navigation
@inject pruebaMudBlazor.Client.Services.ChatService chatService
@inject ISnackbar SnackBar

<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="@GetThemeSelected()">
    <MudAppBar Elevation="1">
        @if (authService.IsAuthenticated)
        {
            <MudHidden Breakpoint="Breakpoint.SmAndDown">
                <MudIcon Icon="@Icons.Custom.Brands.Awesome" Size="Size.Large" Class="pr-2" />
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.MdAndUp">
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.Xs">
                <MudText Typo="Typo.h6" Class="ml-4">Zirty</MudText>
            </MudHidden>
            <MudSpacer />
            <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle" />
            <MudNavLink Href="personal/account" Icon="@Icons.Material.Filled.AccountCircle">Mi perfil</MudNavLink>
        <MudNavLink Href="chats" Icon="@Icons.Material.Filled.Chat">Chats</MudNavLink>
        <MudNavLink Href="search" Icon="@Icons.Material.Filled.PersonAdd">Buscar amigos</MudNavLink>
    <MudMenu AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" 
         Dense="true" Direction="Direction.Bottom" OffsetY="true"
         Style="z-index: 9999">
    <ActivatorContent>
        <MudAvatar Size="Size.Medium" Class="ml-4 cursor-pointer" @onclick="() => {}">
            @if (!string.IsNullOrEmpty(authService.ImagenBase64))
            {
                <MudImage Src="@authService.ImagenBase64" Alt="Foto de perfil" />
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Filled.Person" />
            }
        </MudAvatar>
    </ActivatorContent>
    <ChildContent>
        <MudText Class="pa-2" Typo="Typo.subtitle2">@authService.Username</MudText>
        <MudDivider />
        <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
        <MudNavLink Href="personal/account" Icon="@Icons.Material.Filled.AccountCircle">Mi perfil</MudNavLink>
        <MudNavLink Href="chats" Icon="@Icons.Material.Filled.Chat">Chats</MudNavLink>
        <MudNavLink Href="search" Icon="@Icons.Material.Filled.PersonAdd">Buscar amigos</MudNavLink>
        <MudDivider />
        <MudMenuItem Icon="@Icons.Material.Filled.Logout" OnClick="@Logout">Cerrar sesión</MudMenuItem>
    </ChildContent>
</MudMenu>
        }
        else
        {
            @* <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" /> *@
            <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle" />
            <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
        }
    </MudAppBar>
    @* <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Lista de amigos</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer> Vestigios de ideas pasadas 
    *@
    <MudMainContent Class="pa-4 mudblazor-main-content">
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool _drawerOpen = false;
    private bool _isDarkMode = true;
    private MudTheme? _theme = null;
    private string _themeSelected = "";
    private bool _yaSuscrito = false;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (themeService == null)
        {
            ThemeService themeService = new ThemeService();
        }
        _isDarkMode = themeService.GetTheme();

        _theme = new MudTheme
        {
            PaletteLight = _lightPalette,
            PaletteDark = _darkPalette,
            LayoutProperties = new LayoutProperties()
        };
        if (_isDarkMode)
        {
            _themeSelected = "degradado-dark";
            themeService.SetTheme(_isDarkMode);
        }
        else
        {
            _themeSelected = "degradado-light";
            themeService.SetTheme(_isDarkMode);
        }
        if (!_yaSuscrito)
    {
    Console.WriteLine("Suscribiendo a eventos de notificación");
       chatService.ObsNotificacionRecibida += HandleNotificacion;
                _yaSuscrito = true;

    }}

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private void DarkModeToggle()
    {
        _isDarkMode = !_isDarkMode;
        themeService.SetTheme(_isDarkMode);
    }

    private readonly PaletteLight _lightPalette = new()
    {
        Black = "#110e2d",
        AppbarText = "#424242",
        AppbarBackground = "rgba(255,255,255,0.8)",
        DrawerBackground = "#ffffff",
        @* TextPrimary = "#000000", tendría que cambiar el color de los iconos tbn conforme al tema, futura actualizacion
        TextSecondary = "#000000", *@
        GrayLight = "#e8e8e8",
        GrayLighter = "#f9f9f9",
        @* --mud-palette-primary
rgb(66 124 161)
: rgb(66 124 161); *@
        Primary = "#4284a1",

    };

    private readonly PaletteDark _darkPalette = new()
    {
        Primary = "#7e6fff",
        Secondary = "#ffffff",
        Surface = "#1e1e2d",
        Background = "#00000000", //background de la app desde extremos al card, justo lo que quiero cambiar
        BackgroundGray = "#151521",
        AppbarText = "#ffffff",
        AppbarBackground = "00000000",
        DrawerBackground = "#1a1a27",
        ActionDefault = "#74718e",
        ActionDisabled = "#9999994d",
        ActionDisabledBackground = "#605f6d4d",
        TextPrimary = "#ffffff",
        TextSecondary = "#ffffff",
        TextDisabled = "#ffffff33",
        DrawerIcon = "#92929f",
        DrawerText = "#92929f",
        GrayLight = "#2a2833",
        GrayLighter = "#1e1e2d",
        Info = "#4a86ff",
        Success = "#3dcb6c",
        Warning = "#ffb545",
        Error = "#ff3f5f",
        LinesDefault = "#33323e",
        TableLines = "#33323e",
        Divider = "#292838",
        OverlayLight = "#1e1e2d80",
    };

    public string GetThemeSelected()
    {
        return _isDarkMode ? "degradado-dark" : "degradado-light";
    }
    public string DarkLightModeButtonIcon => _isDarkMode
        ? Icons.Material.Outlined.DarkMode
        : Icons.Material.Filled.WbSunny;
    private void Logout()
    {
        chatService.DisconnectFromGlobalHub(authService.Username);
        authService.IsAuthenticated = false;
        authService.Username = string.Empty;
        authService.ImagenBase64 = string.Empty;
        authService.Email = string.Empty;
        authService.Nombre = string.Empty;
        authService.Apellido = string.Empty;
        authService.Amigos.Clear();
        Navigation.NavigateTo("/");
    }
    private void HandleNotificacion(Evento notificacion)
{
    if (notificacion.Tipo == "NuevoAmigo")
    {
        SnackBar.Add($"Tienes una nueva solicitud de amistad", MudBlazor.Severity.Info);
    }
    else if (notificacion.Tipo == "NuevoMensaje")
    {
        Console.WriteLine($"Nuevo mensaje de {notificacion.UserNameOrigen} a {notificacion.UserNameDestino}");

        if (authService.MensajesNoLeidos.ContainsKey(notificacion.UserNameOrigen))
        {
            Console.WriteLine($"Entramos en el if de notificacion de nuevo mensaje");
            authService.MensajesNoLeidos[notificacion.UserNameOrigen]++;
            authService.NotificarCambio("NuevoMensaje");
        }
        else
        {
            Console.WriteLine($"No existe el usuario {notificacion.UserNameOrigen} en el diccionario de mensajes no leidos");
            authService.MensajesNoLeidos.Add(notificacion.UserNameOrigen, 1);
            authService.NotificarCambio("NuevoMensaje");
        }
    }
    else if (notificacion.Tipo == "AmigoBorrado")
    {
        SnackBar.Add($"Tu amigo {notificacion.UserNameOrigen} te ha borrado", MudBlazor.Severity.Warning);
        authService.Amigos.Remove(notificacion.UserNameOrigen);
        authService.MensajesNoLeidos.Remove(notificacion.UserNameOrigen);
        authService.NotificarCambio("CambiosListaAmigos");
    }
    else if (notificacion.Tipo == "AmigoAceptado")
    {
        if (notificacion.Accepted)
        {
            authService.Amigos.Add(notificacion.UserNameOrigen);
            authService.MensajesNoLeidos.Add(notificacion.UserNameOrigen, 0);
            authService.NotificarCambio("CambiosListaAmigos");
        }
        else
        {
            SnackBar.Add($"Tu solicitud de amistad ha sido rechazada por {notificacion.UserNameOrigen}", MudBlazor.Severity.Error);
        }
    }
    else if (notificacion.Tipo == "SolicitudAmistad")
    {
        SnackBar.Add($"Tienes una nueva solicitud de amistad de {notificacion.UserNameOrigen}", MudBlazor.Severity.Info);
    }
}
public void Dispose()
{
    if (_yaSuscrito)
    {
        chatService.ObsNotificacionRecibida -= HandleNotificacion;
        _yaSuscrito = false;
    }
}


}
